In [59]:
name = "magic"

age = 16

is_married = False

temp = 98.5

numbers = [1, 2, 3, 4]

print (type(name))

print (4 in numbers)

print (5 in numbers)

print (6 not in numbers)

<class 'str'>
True
False
True

In [60]:
name = "Waheed".capitalize()

print ('Waheed' in name)

True

In [61]:
name = "Waheed"

print (f" Abdul {name}")

 Abdul Waheed

In [62]:
name = "Waheed".upper().lower()

print (f"{"Waheed" in name}")

False

## And Logical Operators

### (Any two elements should be same for True statment)

### 1. True and True = True
### 2. True and False = False
### 3. False and False = True

In [63]:
print (6 > 5 and 7 > 4)

print (8 > 6 and 2 > 7)

print (6 > 3 and 8 > 5 )

True
False
True

## OR Logical Operators

### (Atlease one element should be True) for True statment

### 1. False or True = True
### 2. True or False = True
### 3. False or False = True

In [64]:
print (9 > 7 or 9 < 7)

print (10 < 20 or 15 > 10)

print (10 < 40 or 20 < 30)

True
True
True

## Comparision Operators

### 1. >
### 2. >=
### 3, <
### 4. <=
### 5. ==
### 6. !=

In [71]:
print (5 > 5)

print (5 > 5.1)

print (5 >= 5)

print (5 <= 5)

print (3 == 3)

print (3 != 3)

False
False
True
True
True
False

In [76]:
age = int(input("Enter Age: "))

is_teen = age < 20 and age > 10

print (f"Teen Status: {is_teen}")

Teen Status: True